body{
    background-image: url("WEBSITE-BANNER-1.png"), url("WEBSITE-BACKGROUND.jpg");
    background-repeat:no-repeat, repeat-y;
    background-position-x: center;
    background-size: auto;
    color: white;

    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    font:normal 16px Helvetica;

    line-height: 1.6em;
    margin:0;
}

.innercontainer {
    margin-top:400px;
    width: 40%;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto
    
    

}