*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: darkgray;
}

.row{
    display: flex;
    flex-direction: row;
    background-color: coral;
}

.column{
    display: flex;
    flex-direction: row;
    background-color: cornsilk;
}

.logo{
    height: 50px;
    background-color: darkgrey;
    margin: 10px;
    width: 150px;
}

.menu{
    height: 50px;
    background-color: darkgrey;
    margin: 10px;
    width: 150px;
    flex-grow: 1;
}

.search{
    height: 50px;
    background-color: darkseagreen;
    width: 150px;
}

.welcome{
    height: 300px;
    background-color: darkgrey;
    margin: 10px;
    width: 300px;
}
.banner{
    background: rgb(1, 30,20);
    background: linear-gradient();
    height: 300px;
    margin: 10px;
    flex-grow: 1;
}

.service-box{
    margin: 10px;
    padding: 10px;
    flex-grow: 1;
    background-color: seashell;
    margin: 10px;

}

.footer{
        margin: 10px;
        padding: 10px;
        flex-grow: 1;
        background-color: seashell;
        margin: 10px;
}